@media (max-width: 500px) {
    p {
    flex-direction: column;
    display: flex;
    justify-content: space around;
}
}

label {
    min-width: 150px;
}

input {
    width: 150px;
}

p {
    display: flex;
}

#submit-button {
    width: 158px;
}