
.my-form input{
    width: 160px;
}
.my-form button {
    width: 166px;
}
.my-form > p {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
}
.error {
    border-color: red;
}
@media (max-width: 600px) {
    .my-form > p {
        flex-direction: column;
    }
}